body {
    background-color: rgb(206, 206, 206);
}
.titulo {
    background-color: red;
    border: 2px solid green;
}
.billie {
    position:absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.paragrafo-sublinhado {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.container .sem-sublinhado{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.fundo-vermelho{
    background-color: red;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fundo-verde {
    background-color: green;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}



