body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.fundo {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
    
}


.titulo1 {
   
    background-color: red;
    border: 2px solid rgb(5, 248, 5);
    position: fixed;
    margin:0 auto;
    display:flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
}
.buttom {
    position: fixed;
    margin: 0;
    top: 10%;
    width: 100vw;
    height: 100vh;
    
}
.fundos {
    height: 100vh; /* Ajusta a altura do contêiner ao tamanho da tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.fundos .fundo-red {
    background-color: red;
    width: 700px;
    padding: 0px;
    text-align:center;
}

.fundos .fundo-green {
    background-color: green;
    width: 700px;
    padding: 25px;
    text-align:center;
   
}
.paragrafo-pag3 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
   
}
.link-podcast {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold ;
}